.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
        
.tabletable {
  /* width: 100vw; */
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: strech;
  justify-content: stretch;
}

.tabletable > div {
}
.tabletable div {
}

p {
  padding: 6px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  max-width: 100%;
  min-width: 10rem;
}

.column {
/*   height: 100%; */
/*   width: auto; */
  display: flex;
  flex-direction: column;
/*   align-items: center; */
  justify-content: center;
}

.column > p {
  height: 100%;
}


.row {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.row > p {
  height: 100%
}

.data {
  margin-top: 0.2rem;
  background-color: lightblue;
}

.Table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataValue {
  border: 1px solid;
}
.dataValue > p {
  border: none;
}
.dataValue > button {
  width: 80%;
  margin: 0 auto;
  background-color: #ee4b46;
  border: 1px solid #f1322b;
}

.dataValue > button:hover {
  background-color: #ff0800;
}